.hobby_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.hobby_cards > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
}

.hobby_cards > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    cursor: pointer;
}

.hobby_cards > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.hobby_icons {
    font-size: 1.5rem;
    display: inline-block;
    margin: 0 150px;
}

/* tablets */
@media screen and (max-width: 1024px){
    .hobby_cards {
        width: var(--container-md);
        grid-template-columns: 1fr;
    }

    .hobby_cards > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}

/* phones */
@media screen and (max-width: 600px){
    .hobby_cards {
        width: 100%;
    }

    .experience__content {
        padding: 1rem;
    }

    .hobby_cards > div {
        column-gap: 1rem;
    }
}